@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: url("../fonts/Gilroy-Black.ttf") format("truetype");
}

html,body{
  overflow-x: hidden
  }
  
body {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #272525;
  margin: 0;
}

h1 {
  font-family: Gilroy, sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h2 {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-family: Gilroy, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

p, input, button {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.065em;
}

.bold {
  font-weight: 600;
}

::placeholder {
  color: #8e8e8e;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.header-container {
  background: linear-gradient(42.14deg, #9796f0, #fbc7d4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 120px;
}

.logo {
  height: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  padding: 0 10px;
  border: 3px solid #272525;
  border-radius: 30px;
}

.search-icon {
  color: red;
  height: 18px;
  margin-right: 10px;
}

.search-icon2 {
  display: none;
  height: 24px;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
}

.phone-button {
  background: #1fab8a;
  color: white;
  width: 240px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
}

.phone-button:hover {
  box-shadow: 0px 20px 50px 0px #0000001a;
}

.user-account {
  display: flex;
  align-items: center;
}

.user-account .inactive {
  cursor: pointer;
}

.user-icon {
  height: 36px;
  margin-right: 10px;
  vertical-align: middle;
}

.user-account > .active {
  font-weight: 600;
}

.user-account > .inactive {
  font-weight: 400;
  color: #8e8e8e;
}

.hamburger-menu {
  display: none;
}

.menu-icon {
  height: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background: #e6dcf3;
  height: 100px;
  padding: 0 120px;
  position: relative;
}

.navigation-left {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-right: 50px;
}

.navigation-left a {
  color: #272525;
  text-decoration: none;
  padding: 40px 10px;
  position: relative;
}

.navigation-left a:hover {
  background: #272525;
  color: white;
  border-radius: 6px;
}

.navigation-left a::after {
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #272525;
  border-radius: 3px;
  position: absolute;
  visibility: hidden;
}

.navigation-left a:hover::after {
  visibility: visible;
}

.navigation-right img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  object-fit: cover;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  padding: 0 120px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hero-title {
  flex: 1;
}

.hero-title h1 {
  margin-bottom: 10px;
}

.hero-title p {
  margin-bottom: 60px;
}

.hero-banner {
  display: none;
}

.hero-icons {
  display: flex;
  gap: 20px;
}

.hero-icons2 {
  display: none;
}

.hero-icon {
  text-align: center;
}

.hero-icon img {
  height: 100px;
  border-radius: 30%;
  margin-bottom: 10px;
}

.hero-icon p {
  border-radius: 50%;
  margin-bottom: 10px;
}

.hero-image img {
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.hero-button {
  background: #3c336c;
  color: white;
  width: 250px;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
}
.hero-button:hover {
  box-shadow: 0px 20px 50px 0px #0000001a;
}

.hero.hero-products {
  height: 600px;
}

.popular {
  position: relative;
  background: url('../img/bg-white.png') no-repeat center center;
  background-size: cover;
  padding: 60px 120px;
  margin-top: -40px;
  z-index: 1;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular-header-title h2 {
  margin-bottom: 10px;
}

.popular-header-icon a {
  color: #272525;
  text-decoration: none;
}

.popular-header-icon a:hover {
  font-weight: 800;
}

.popular-header-icon img {
  height: 10px;
  width: auto;
}

.popular-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products-left,
.products-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.products-right-bottom {
  flex: 1;
  display: flex;
  gap: 20px;
}

.products-left img,
.products-right img {
  border-radius: 8px;
  object-fit: cover;
}

.products-left img {
  width: 100%;
  height: 600px;
}

.products-right img {
  width: 100%;
  height: 290px;
}

.products-right-bottom img {
  width: calc(50% - 10px);
  height: 290px;
}

.products {
  position: relative;
  background: url('../img/bg-white.png') no-repeat center center;
  background-size: cover;
  padding: 60px 120px;
  margin-top: -40px;
  z-index: 1;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-grid img:hover, .product-grid p:hover {
  font-weight: 900;
}

.product-item {
  flex: 0 1 calc(25% - 16px);
  box-sizing: border-box;
  text-align: center;
  background: transparent;
  border-radius: 8px;
}

.product-item:hover img, .product-item:hover p {
  font-weight: 900;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item img:hover {
  box-shadow: 0px 20px 50px 0px #0000001a;
  border-radius: 12px;
}

.product-item a {
  margin-top: 10px;
  font-weight: 600;
  color: #272525;
  text-decoration: none;
}

.product-info {
  padding: 60px 120px; 
}

.product-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.product-info-box {
  max-width: 100%;
  padding: 20px;
}

.creative {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../img/bg-gray.png') no-repeat center center;
  background-size: cover;
  height: 500px;
  padding: 100px 120px;
}

.creative-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creative-text h2 {
  margin-bottom: 0px;
}

.creative-buttons {
  display: flex;
  gap: 10px;
}

.creative-button {
  background: #272525;
  color: #fafafa;
  width: 280px;
  height: 60px;
  border: none;
  border-radius: 30px;
  margin-top: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.creative-button:hover {
  box-shadow: 0px 20px 50px 0px #0000001a;
}

.secondary {
  background: #eef1f6;
  color: #272525;
}

.creative-image img {
  max-width: 70%;
  height: auto;
  position: relative;
  right: -100px;
}

.custom {
  display: flex;
  position: relative;
  padding: 60px 120px;
  height: 600px;
}

.custom-image {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.custom-image-wrapper {
  position: relative;
  width: 80%;
}

.custom-image-main {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}

.circle-top-left,
.circle-bottom-right {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.circle-top-left {
  top: -50px;
  left: -50px;
}

.circle-bottom-right {
  bottom: -50px;
  right: -50px;
  transform: scale(0.5);
}

.custom-text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.custom-text h3 {
  margin: 0;
}

.custom-text p {
  margin: 0;
}

.custom-icons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.custom-icons {
  display: flex;
  gap: 40px;
}

.icon-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.icon {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.slider-image {
  height: 20px;
}

.ideas {
  background: url('../img/bg-purple.png') no-repeat center center;
  background-size: cover;
  height: 600px;
  padding: 60px 120px;
  overflow: hidden;
}

.ideas-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ideas-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ideas-header {
  flex: 1;
}

.ideas-image {
  flex: 1;
  text-align: right;
}

.ideas-image img {
  max-width: 100%;
  height: auto;
}

.ideas-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ideas-form-text {
  font-weight: 600;
  font-size: 24px;
}

.ideas-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ideas-form input, 
.ideas-form button {
  flex: 1;
}

.ideas-form input {
  background: transparent;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #272525;
  outline: none;
  width: auto;
}

.ideas-form button {
  flex: 0;
  width: 280px;
  height: 48px;
  padding: 10px 20px;
  background: #1fab8a;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.ideas-form button:hover {
  box-shadow: 0px 20px 50px 0px #0000001a;
}

.collabs {
  padding: 60px 120px;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.collabs h2 {
  margin-bottom: 60px;
}

.collabs-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.collabs-logos-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  overflow: hidden;
}

.collab-logo {
  width: 100px;
  height: auto;
  flex-shrink: 0;
}

.collabs-nav {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
}

.footer {
  background: #f5f5f5;
  padding: 60px 120px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-about {
  width: 30%;
  margin-bottom: 20px;
}

.footer-about img {
  height: 32px;
  margin-bottom: 10px;
}

.footer-about p {
  margin-bottom: 20px;
}

.footer-social-icons a {
  margin-right: 10px;
}

.footer-social-icons img {
  height: 30px;
}

.footer-social-icons img:hover {
  transform: scale(1.5);
}

.footer-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-categories,
.footer-info {
  flex: 1;
  width: 20%;
}

.footer-categories ul,
.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-categories li,
.footer-info li {
  margin-bottom: 30px;
}

.footer-categories a,
.footer-info a {
  text-decoration: none;
  color: #272525;
}

.footer-categories a:hover,
.footer-info a:hover {
  font-weight: 600;
}

.footer-contact-manager {
  width: 30%;
  margin: 0 auto;
}

.footer-input-wrapper {
  position: relative;
  width: 100%;
}

.footer-input-text,
.footer-input-wrapper input {
  font-size: 16px;
}

.footer-input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #272525;
  border-radius: 8px;
  box-sizing: border-box;
}

.footer-input-wrapper img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 24px;
  cursor: pointer;
}

.footer-input-wrapper img:hover {
  filter: drop-shadow(0px 0px 4px);
}

.rights {
  text-align: center;
  color: #9FA3B2;

}

@media (max-width: 1440px) {

  h1 {
    font-size: 44px;
  }

  p, input, button {
    font-size: 17px;
  }

  .header,
  .navigation,
  .hero,
  .popular,
  .products,
  .product-info,
  .creative,
  .custom,
  .ideas,
  .collabs,
  .footer {
    padding-left: 80px;
    padding-right: 80px;
  }

  .logo {
    height: 28px;
  }

  .search-bar {
    width: 300px;
  }

  .navigation-left {
    width: 90%;
  }

  .navigation-left a {
    margin-right: 20px;  
  }

  .hero {
    height: 650px;
  }

  .hero-title h1 {
    margin-top: 0;
  }

  .hero-title p {
    margin-bottom: 20px;
  }

  .hero-image img {
    padding: 50px;
  }

  .hero.hero-products {
    height: 600px;
  }

  .hero.hero-products .hero-title {
    flex: 60%;
  }

  .hero.hero-products .hero-title h1 {
    margin-top: 20px;
  }

  .hero.hero-products .hero-image img {
    flex: 100%;
    justify-content: center;
    align-items: center;
  }

  .ideas-form button {
    width: auto;
  }

  .footer-about img {
    height: 22px;
  }

  .footer-about {
    width: 25%;
  }

  .footer-categories,
  .footer-info,
  .footer-contact-manager {
    width: 25%;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  .logo {
    height: 24px;
  }

  .search-bar {
    width: 200px;
  }

  .navigation-left {
    width: 100%;
    margin-right: 0;
  }

  .navigation-right {
    display: none;
  }

  .hero {
    height: 500px;
  }

  .hero-icons {
    display: none;
  }

  .hero-icons2-wrapper {
    height: 250px;
  }

  .hero-icons2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .hero-title {
    width: 40%;
  }

  .hero-title h1 {
    margin-top: 60px;
  }

  .hero-title p {
    margin-bottom: 10px;
  }

  .hero.hero-products {
    height: 560px;
  }

  .hero.hero-products .hero-title {
    flex: 70%;
  }

  .hero.hero-products .hero-title p {
    margin-bottom: 20px;
  }

  .hero-banner {
    display: block;
    margin-bottom: 0px;
  }

  .hero-banner img {
    width: 100%;
  }

}

@media (min-width: 1001px) and (max-width: 1200px) {

  .logo {
    height: 22px;
  }

  .footer-contact-manager {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .footer-contact-manager p {
    width: 30%;
  }

  .footer-input-wrapper {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  p, input, button {
    font-size: 16px;
  }

  .header,
  .navigation,
  .hero,
  .popular,
  .products,
  .product-info,
  .creative,
  .custom,
  .ideas,
  .collabs,
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .logo {
    height: 16px;
  }

  .search-bar {
    width: 150px;
  }

  .phone-button {
    width: 200px;
  }

  .hero-banner {
    width: 120%;
    margin-bottom: 40px;
  }

  .hero-icons2 img {
    height: 80px;
  }

  .hero.hero-products {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .hero.hero-products .hero-nav {
    display: none;
  }

  .hero.hero-products .hero-title {
    width: 100%;
    margin: 40px;
  }

  .hero.hero-products .hero-title p {
    margin-bottom: 40px;
  }

  .hero.hero-products .hero-image img {
    width: 400px;
    padding: 0;
  }

  .product-item {
    flex: 0 1 calc(33.33% - 16px);
  }

  .creative {
    flex-direction: column;
    height: auto;
    padding: 40px;
  }

  .creative-text {
    order: 1;
    align-items: center;
    text-align: center;
  }

  .creative-buttons {
    flex-direction: column;
  }

  .creative-button {
    width: 400px;
  }

  .creative-image {
    order: 2;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  }

  .creative-image img {
    max-width: 70%;
  }

  .custom {
    height: auto;
    flex-direction: column;
    gap: 20px;
  }

  .custom-icons-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .ideas-form-container {
    flex-direction: row;
  }

  .ideas-form {
    width: 100%;
  }

  /* Footer */

  .footer-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .footer-categories,
  .footer-info,
  .footer-contact-manager {
    width: 33%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  p, input, button {
    font-size: 16px;
  }

  .header,
  .navigation,
  .hero,
  .popular,
  .products,
  .product-info,
  .creative,
  .custom,
  .ideas,
  .collabs,
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    height: 18px;
  }

  .search-bar {
    display: none;
  }

  .search-icon2 {
    display: block;
  }

  .search-icon2:hover {
    cursor: pointer;
  }

  .user-account {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu:hover {
    cursor: pointer;
  }

  .navigation {
    display: none;
  }

  .product-item {
    flex: 0 1 calc(50% - 16px);
  }

  .ideas {
    height: auto;
  }

  .ideas-header-container {
    flex-direction: column;
  }

  .ideas-image img {
    order: 1;
  }

  .ideas-header {
    order: 2;
  }

  .ideas-form-container {
    flex-direction: column;
    align-items: stretch;
  }

  .ideas-form {
    flex-direction: column;
  }

  .ideas-form input,
  .ideas-form button {
    width: 100%;
  }

  .footer-about-text {
    text-align: center;
  }

  .footer-contact-manager {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  p, input, button {
    font-size: 15px;
  }

  .header,
  .navigation,
  .hero,
  .popular,
  .creative,
  .custom,
  .ideas,
  .collabs,
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-banner img {
    display: none;
  }

  .logo {
    height: 16px;
  }

  .phone-button {
    display: none;
  }

  .footer-about {
    width: 100%;
  }
}

@media (max-width: 320px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .header,
  .navigation,
  .hero,
  .popular,
  .creative,
  .custom,
  .ideas,
  .collabs,
  .footer {
    padding-left: 5px;
    padding-right: 5px;
  }

  .logo {
    height: 14px;
  }

  .hero {
    height: 300px;
  }

  .hero-title {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    flex-direction: column;
  }

  .hero-image {
    display: none;
  }

  .hero.hero-products {
    height: 600px;
  }

  .hero.hero-products {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero.hero-products .hero-title {
    width: 100%;
    margin: 10px 0;
  }

  .hero.hero-products .hero-image {
    display: block;
    width: 280px;
    max-width: 90%;
  }

  .hero.hero-products .product-item {
    margin-bottom: 10px;
  }

  .popular {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .popular-header-title {
    text-align: center;
  }

  .popular-header-icon {
    display: none;
  }

  .popular-products {
    flex-direction: column;
  }

  .products-left img,
  .products-right img,
  .products-right-bottom img {
    height: 200px;
  }

  .product-info {
    padding: 20px;
  }

  .product-info-grid {
    display: block;
  }

  .product-info-box h3 {
    text-align: center;
  }

  .product-info-box p {
    text-align: left;
  }

  .creative img {
    width: 60%;
  }

  .creative-button {
    width: 300px;
  }

  .creative-image {
    text-align: center;
    flex-direction: column;
  }

  .creative-image img {
    right: 0;
  }

  .custom {
    height: 500px;
  }

  .custom-text h3, p {
    text-align: center;
  }

  .custom-icons-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .custom-icons {
    gap: 10px;
  }

  .icon-wrapper {
    width: 60px;
    height: 60px;
  }

  .ideas {
    height: 880px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ideas-header-container {
    flex-direction: column;
    align-items: center;
  }

  .ideas-image img {
    max-width: 90%;
  }

  .ideas-header {
    text-align: center;
    font-size: 16px;
  }

  .ideas-form-text {
    font-size: 20px;
    text-align: center;
  }

  .ideas-form-container {
    flex-direction: column;
    align-items: stretch;
  }

  .ideas-form input,
  .ideas-form button {
    width: 100%;
    margin-bottom: 10px;
  }

  .submit {
    width: fixed 280px;
    height: fixed 60px;
  }

  .collabs {
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .collabs h2 {
    text-align: center;
  }

  .footer-about,
  .footer-categories,
  .footer-info,
  .footer-contact-manager {
    width: 100%;
    text-align: center;
  }
  .footer-title  {
    font-size: 20px;

  }
  .footer-about img {
    height: 16px;
  }
  .footer-about, .footer-input-text  p {
    font-size: 12px;
    color: #8F90A6;
  }
  .footer-contact-manager {
    margin-top: 10px;
  }
  .rights {
    font-size: 12px;
  }
}
